/* app global css */

/* Safe area za Android/iOS navigation bar na dnu */
.q-page-container {
  padding-bottom: env(safe-area-inset-bottom) !important;
}

.text-girl {
  color: #cc6594 !important;
}
.bg-girl {
  background: #cc6594 !important;
}
.text-boy {
  color: #347dc1 !important;
}
.bg-boy {
  background: #347dc1 !important;
}
.text-female {
  color: #cc6594 !important;
}
.bg-female {
  background: #cc6594 !important;
}
.text-male {
  color: #347dc1 !important;
}
.bg-male {
  background: #347dc1 !important;
}
